.banner {
  min-height: 484px;
  background: rgb(252, 179, 181);
  background: linear-gradient(360deg, rgba(252, 179, 181, 1) 0%, rgba(253, 231, 230, 1) 35%, rgba(255, 242, 241, 1) 100%);
  padding-top: 74px;

  h1 {
    margin-top: 85px;
    max-width: 285px;
    font-family: $museo-sans-cyrl;
    font-size: 40px;
    font-weight: 900;
  }
}

.banner__wrapper.container {
  padding-left: 40px;
}

.banner__button {
  background: rgb(248,107,97);
  background: linear-gradient(0deg, rgba(248,107,97,1) 0%, rgba(251,62,55,1) 100%);
  border-radius: 14px;
  margin-top: 65px;
}
