.clients {
  padding: 30px 0 75px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 3px;
  }

  h2 {
    text-align: center;
    font-family: $museo-sans-cyrl;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    //display: none;
  }

  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../../img/icon-more.svg");
  }

  .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl {
    transform: rotate(180deg);
  }


  @media (max-width: $tablet-width) {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }
  }

  .swiper-button-next {
    right: -4px;
  }

  .swiper-button-prev {
    left: -3px;
  }
}


.clients__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients__wrapper.container {

  @media (max-width: $tablet-width) {
    overflow-x: hidden;
    max-width: 100%;
  }
}

.clients__item.swiper-slide {
  width: auto;
  height: 86px;

  img {
    height: 100%;
    object-fit: contain;
  }
}

