.detail {
    font-size: 16px;

    span {
        opacity: 0.5;
    }

    h2 {
        font-family: $pt-sans-bold;
        font-size: 20px;
    }
}

.detail__images {
    width: 100%;
    margin-bottom: 28px;
}

.detail__specifications {
    font-size: 18px;
    opacity: 0.5;
    padding-left: 20px;
}
