.our-products {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  h2 {
    margin: 0 auto 10px;
  }

}

.our-products__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.our-products__item {
  max-width: 300px;
  width: 30%;
  min-height: 210px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px -1px rgba(253, 192, 192, 1);
  padding-top: 152px;

  h3 {
    text-align: center;
  }
}
