.sponsors {
  padding: 75px 0 75px;
}

.sponsors__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sponsors__wrapper.container {
  @media (max-width: $tablet-width) {
    overflow-x: hidden;
    max-width: 100%;
  }
}

.sponsors__item.swiper-slide {
  width: auto;
}
