footer.footer
  .footer__wrapper.container
    .footer__logo
      img(src="img/logo-green.svg" alt="Logo" width="82" height="22")
    nav.footer__nav
      a.footer__link.footer__link--msds(href="#") MSDS
      a.footer__link.footer__link--contact(href="#") Contact us

