header.header
  .header__wrapper.container
    a.header__logo.logo
      .logo__img
    nav.header__nav.nav
      a.nav__item.link(href="#") Products
      a.nav__item.link(href="#") About us
      a.nav__item.link(href="#") Contacts
