header.header.header--white
  .header__wrapper.container
    .header__mobile-wrapper
      a.header__logo.logo
        img(src="img/logo-black.svg" alt="Logo" width="82" height="22")
      button.header__menu-open-button
    nav.header__nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link.link(href="products.html") Products
        li.nav__item
          a.nav__link.link(href="#") About us
        li.nav__item
          a.nav__link.link(href="#") Contacts
