mixin header(className)
  header.header(class=className)
    .header__wrapper.container
      .header__mobile-wrapper
        a(href="index.html").header__logo.logo
          case className
            when 'header--products'
              img(src="img/logo-green.svg" alt="Logo" width="82" height="22")
            default
              img(src="img/logo-black.svg" alt="Logo" width="82" height="22")
        button.header__menu-open-button
      nav.header__nav.nav
        ul.nav__list
          li.nav__item
            a.nav__link.link(href="products.html") Products
          li.nav__item
            a.nav__link.nav__link--about.link(href="#") About us
          li.nav__item
            a.nav__link.nav__link--contacts.link(href="#") Contacts
