@import "../../local_modules/normalize.css/normalize";

@import "src/styles/utils/variables";

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $pt-sans-regular;
    position: relative;
    min-width: $mobile-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

//.body-lock {
//    overflow-y: scroll;
//    position: fixed;
//}

//.overlay {
//    display: none;
//    background: rgba(52, 51, 51, 0.6);
//    position: fixed;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    z-index: 6;
//    overflow: auto;
//}

.wrapper {
  display: none;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  //display: flex;
  background: rgba(52, 51, 51, 0.6);
  width: 100%;
  height: 100%;
  //justify-content: center;
  z-index: 6;
  flex: 1;

  @media (max-width: $tablet-width) {
    position: static;
    background: #fbfbfb;
  }
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.main {
    flex: 1;
    background: $c-main;
    //display: none;
}

.main--products {
    background: $c-main-white;
}

.opened-popup {
    //.overlay {
    //    display: block;
    //}
  overflow: hidden;

    @media (max-width: $tablet-width) {
      overflow: auto;
        .main {
            display: none;
        }

        //.overlay {
        //    display: none;
        //}
    }
}

.opened-menu {

    @media (max-width: $tablet-width) {
        .main {
            display: none;
        }

        .footer {
            display: none;
        }
    }
}
