extends common/layout

block content
  main.main
    .banner
      .banner__wrapper.container
        h1 We’ve Got You Covered.
        a.banner__button.button(href="#") Connect with an expert

    .about-us
      .container
        .about-us__wrapper
          h2 About us
          .about-us__text.about-us__text--closed
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all over the world to ensure the safety and health of our users.
              span.about-us__additional-text It is our duty to provide products that meet multiple national standards as we continue research and development of more innovative products to meet our goal. We provide complete customer service, stable and excellent product quality Our competitive prices, have allowed us to be chosen by many retailers as their suppliers and have become long-term
          button.about-us__read-more.button(type="button") Read more

    .our-products.container.swiper-container
      h2 Our products
      ul.our-products__list.swiper-wrapper
        li.swiper-slide.our-products__item.our-products__item--sanitizing
            h3 Sanitizing Products
        li.swiper-slide.our-products__item.our-products__item--diagnostic
            h3 Diagnostic
        li.swiper-slide.our-products__item.our-products__item--protective
            h3 Protective Gear
      .swiper-pagination

    .sponsors
      .sponsors__wrapper.container.swiper-container
        ul.sponsors__list.swiper-wrapper
          li.sponsors__item.swiper-slide
            img(src="img/logo-nike.svg" width="96" height="50" alt="Nike")
          li.sponsors__item.swiper-slide
            img(src="img/logo-windmere.svg" width="108" height="50" alt="Windmere")
          li.sponsors__item.swiper-slide
            img(src="img/logo-facebook.svg" width="107" height="21" alt="Facebook")
          li.sponsors__item.swiper-slide
            img(src="img/logo-cola.svg" width="153" height="50" alt="Coca-cola")
          li.sponsors__item.swiper-slide
            img(src="img/logo-tesla.svg" width="151" height="20" alt="Tesla")
        .swiper-pagination

  .contacts.popup.popup--closed
    .popup__wrapper
      .popup__breadcrumbs
        ul.products__breadcrumbs.breadcrumbs
          li.breadcrumbs__item.breadcrumbs__item--main
            a(href="#") Main page
          li.breadcrumbs__item
            a(href="#") Contact information
      button.popup__close-button Close
      h2 Want us to contact you? No problem!
      p.contacts__call-us
        span Call Us Toll Free
        span 1-833-552-7233  • (1-833-55B-SAFE)
      button.button.contacts__call-us-button(type="button") Call us
      p or send message to us
      form.contacts__form
        label.contacts__label.contacts__label--input
          span.contacts__required-input name
          input(type="text" placeholder="Your name")
        label.contacts__label.contacts__label--input
          span phone
          input(type="tel" placeholder="X-XXX-XXX XX XX")
        label.contacts__label.contacts__label--input
          span.contacts__required-input email
          input(type="text" placeholder="Your email")
        label.contacts__label.contacts__label--textarea
          span Message
          textarea(placeholder="Your text here")
      .contacts__buttons
        button.button.contacts__button.contacts__button--send(type="submit") Send
        button.button.contacts__button.contacts__button--cancel(type="button") Cancel

  .detail.popup.popup--closed
    .popup__wrapper
      .popup__breadcrumbs
        ul.products__breadcrumbs.breadcrumbs
          li.breadcrumbs__item.breadcrumbs__item--main
            a(href="#") Main page
          li.breadcrumbs__item
            a(href="#") Contact information
      button.popup__close-button Close
      .detail__images.product-images
        .product-images__big-img
        .product-images__little-images
          .product-images__little-image
          .product-images__little-image

      span.detail__span BF-M2105
      h2.detail__title Filtering Face Respirator Mask
      span.detail__span FFR KN95(FFR2) (Non Sterile)
      ul.detail__specifications
        li.detail__specification 5 layers of protection.
        li.detail__specification Activated carbon layer.
        li.detail__specification Non-woven fabric layer.
        li.detail__specification Double electrostatic absorption cotton and soft non-woven fabric layer.
        li.detail__specification Effectively blocks dust and hazardous materials from entering the body.
        li.detail__specification Can reduce currently popular 2019-nCoV virus. • BFE 95%,with a 95% protective efficiency.
        li.detail__specification Adjustable nose clip for perfect tight seal.
        li.detail__specification Ear loops for wearing.
        li.detail__specification FDA,CE qualified.

  .about.popup.popup--closed
    .popup__wrapper
      .popup__breadcrumbs
        ul.products__breadcrumbs.breadcrumbs
          li.breadcrumbs__item.breadcrumbs__item--main
            a(href="#") Main page
          li.breadcrumbs__item
            a(href="#") About us
      button.popup__close-button Close
      h2 About us
      p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all over the world to ensure the safety and health of our users. It is our duty to provide products that meet multiple national standards as we continue research and development of more innovative products to meet our goal. We provide complete customer service, stable and excellent product quality Our competitive prices, have allowed us to be chosen by many retailers as their suppliers and have become long-term

  .msds.popup
    .popup__wrapper
      .popup__breadcrumbs
        ul.products__breadcrumbs.breadcrumbs
          li.breadcrumbs__item.breadcrumbs__item--main
            a(href="#") Main page
          li.breadcrumbs__item
            a(href="#") About us
      button.popup__close-button Close
      h2 MSDS
      p MSDS available upon request.
      p Please email
        a(href="mailto:info@besafeindustries.com") info@besafeindustries.com

  .overlay

