extends common/layout

block content
  main.main
    .banner
      .banner__wrapper.container
        h1 We’ve Got You Covered.
        a.banner__button.button(href="#") Connect with an expert

    .about-us
      .container
        .about-us__wrapper
          h2 About us
          .about-us__text.about-us__text--closed
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all over the world to ensure the safety and health of our users. It is our duty to provide products that meet multiple national standards as we continue research and development of more innovative products to meet our goal. We provide complete customer service, stable and excellent product quality Our competitive prices, have allowed us to be chosen by many retailers as their suppliers and have become long-term
          button.about-us__read-more.button(type="button") Read more

    .our-products.container
      h2 Our products
      ul.our-products__list
        li.our-products__item.our-products__item--sanitizing
          h3 Sanitizing Products
        li.our-products__item.our-products__item--diagnostic
          h3 Diagnostic
        li.our-products__item.our-products__item--protective
          h3 Protective Gear

    .sponsors
      .sponsors__wrapper.container
        ul.sponsors__list
          li.sponsors__item
          li.sponsors__item
          li.sponsors__item
          li.sponsors__item
          li.sponsors__item



