extends common/layout

include common/header

block header
  +header('test-name')
block content
  main.main
    .banner
      .banner__wrapper.container
        h1 We’ve Got You Covered.
        a.banner__button.button(href="#") Connect with an expert

    .about-us
      .container
        .about-us__wrapper
          .about-us__left
            h2 About us
            .about-us__text.about-us__text--closed
              p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all over the world to ensure the safety and health of our users.
                span.about-us__additional-text It is our duty to provide products that meet multiple national standards as we continue research and development of more innovative products to meet our goal. We provide complete customer service, stable and excellent product quality Our competitive prices, have allowed us to be chosen by many retailers as their suppliers and have become long-term
            button.about-us__read-more.button(type="button") Read more
          .about-us__video
            video.about-us__videofile(preload='auto' width="262" height="159" muted="muted")
              source(src='video/trailer.mp4' type='video/mp4')
              source(src='video/trailer.webm' type='video/webm')
              source(src='video/trailer.ogv' type='video/ogg')
              p Your user agent does not support the HTML5 Video element.
            button.about-us__play-button(type="button")

    .our-products.container.swiper-container
      h2 Our products
      ul.our-products__list.swiper-wrapper
        li.swiper-slide.our-products__item.our-products__item--sanitizing
          a(href="#")
            img(src="img/sanitizing-products.jpg" width="141" height="133")
            h3 Sanitizing Products
        li.swiper-slide.our-products__item.our-products__item--diagnostic
          a(href="#")
            img(src="img/diagnostic.jpg" width="141" height="133")
            h3 Diagnostic
        li.swiper-slide.our-products__item.our-products__item--protective
          a(href="#")
            img(src="img/protective-gear.jpg" width="141" height="133")
            h3 Protective Gear
      .swiper-pagination

    .clients
      .clients__wrapper.container.swiper-container
        h2 Our clients
        ul.clients__list.swiper-wrapper
          li.clients__item.swiper-slide
            img(src="img/logo-nike.svg" width="96" height="50" alt="Nike")
          li.clients__item.swiper-slide
            img(src="img/logo-windmere.svg" width="108" height="50" alt="Windmere")
          li.clients__item.swiper-slide
            img(src="img/logo-facebook.svg" width="107" height="21" alt="Facebook")
          li.clients__item.swiper-slide
            img(src="img/logo-cola.svg" width="153" height="50" alt="Coca-cola")
          li.clients__item.swiper-slide
            img(src="img/logo-tesla.svg" width="151" height="20" alt="Tesla")
        .swiper-pagination
        //.swiper-button-prev
        //.swiper-button-next




