extends common/layout

block header
  include common/header

block content
  main.main.main--products
    section.products
      .container
        ul.products__breadcrumbs.breadcrumbs
          li.breadcrumbs__item.breadcrumbs__item--main
            a(href="#") Main page
          li.breadcrumbs__item
            a(href="#") Our products
        h2 Protective Gear
        .products__sections.sections.swiper-container
          ul.sections__list.swiper-wrapper
            li.sections__item.sections__item--active.swiper-slide All products
            li.sections__item.swiper-slide Sanitizers
            li.sections__item.swiper-slide Sanitizing wipes
        .products__cards
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Masks Simple
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Masks Pro
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Eye glass
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Screen Medium
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Screen L
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
          .products__card.card
            .card__images
              .card__big-img
              .card__little-images
                .card__little-img
                .card__little-img
                .card__little-img
            h3 Protective Screen XL
            p We strive to provide the highest quality products to our customers. Today, BeSafe™ Industries products are widely used all.
            button.card__more-details(type="button") More details
        .products__buttons
          button.button.products__button.products__button--catalog(type="button") Download catalog
          button.button.products__button.products__button--connect(type="button") Connect with us


