// PTSans-Bold

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2"), url("../fonts/pt-sans-bold.woff") format("woff");
    font-display: swap;
}

// PTSans-Regular

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2"), url("../fonts/pt-sans-regular.woff") format("woff");
    font-display: swap;
}
