$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1023px;
$desktop-wrapper: 1200px;

$pt-sans-bold: "PT Sans Bold", "Arial", sans-serif;
$pt-sans-regular: "PT Sans Regular", "Arial", sans-serif;
$museo-sans-cyrl: "MuseoSansCyrl", "Arial", sans-serif;
$pt-sans-caption: "PT Sans Caption", "Arial", sans-serif;

$c-burgundy: #7a0202;
$c-main: #fef4f2;
$c-main-white: #fbfbfb;
$c-section: #f9d5d3;
$c-red-gradient: linear-gradient(0deg, rgba(248, 107, 97, 1) 0%, rgba(251, 62, 55, 1) 100%);
$c-section-color: #cd3b36;
$c-light-grey: #7f7f7f;
$c-light-rose: #fed9d7;
$c-mail: #0091ff;


$header-height: 77px;
